<footer id="sitemap">
	<div class="row narrow">
		<div class="third">
			<ul class="footer">
				<li><%= link_to "Home", root_path %></li>
				<li>About
					<ul>
						<li><%= link_to "Facilities", static_path('about/facilities') %></li>
						<li><%= link_to "Our Staff", static_path('about/our-staff') %></li>
						<li><%= link_to "Financials", static_path('about/financials') %></li>
					</ul>
				</li>

			</ul>
		</div>
		<div class="third">
			<ul class="footer">
				<li><%= link_to "Daily Services", static_path('daily-services') %></li>
				<!--<li><%= link_to "Events", "/tagged?tag=events" %></li>
				<li><%= link_to "News", "/tagged?tag=news" %></li>-->
				<li>Take Action
					<ul>
						<li><%= link_to "Donors", take_action_donors_path %></li>
						<li><%= link_to "Volunteers", take_action_volunteers_path %></li>
						<li><%= link_to "Guests", take_action_guests_path %></li>
					</ul>
				</li>
			</ul>
		</div>
		<div class="third">
			<ul class="footer">
				<li>Resources
					<ul>
						<li><%= link_to "Statistics", static_path('resources/statistics') %></li>
						<li><%= link_to "Downloads", static_path('resources/downloads') %></li>
					</ul>
				</li>
				<li><%= link_to "Contact", "/contact" %></li>
			</ul>
		</div>
	</div>
</footer>
<footer id="copyright">
	<div class="row">
		<p>
      Copyright <%= Time.now.year %> Greensboro Day Center
		</p>
		<p>
	      <%=link_to "https://www.facebook.com/gsodaycenter?fref=ts&ref=br_tf" do %>
	        <%=fa_icon "facebook", :class => "squared" %>
	      <% end %>
	  	      <%=link_to "https://twitter.com/gsodaycenter" do %>
	        <%=fa_icon "twitter", :class => "squared" %>
	      <% end %>

	      <%=link_to "https://instagram.com/gsodaycenter/" do %>
	        <%=fa_icon "instagram", :class => "squared" %>
	      <% end %>
	  </p>
		<p>Designed and built with <%= fa_icon "heart", :class => "red" %> by <%=link_to "Tiny Goat Studio", "http://www.tinygoatstudio.com", :target => "blank" %> in Greensboro</p>
	</div>
</footer>
