<div id="hamburger" class="menu-control">
	<%= fa_icon "bars" %>
</div>


<!-- mobile-nav -->
<div id="mobile-nav">
	<div id="close" class="menu-control">
		<%= fa_icon "times-circle" %>
	</div>
	<div id="links">
    <ul>
      <li><%= link_to "Home", root_path %></li>
    </ul>
	</div>
</div>
<!-- /mobile-nav -->

<!-- desktop nav -->
<div class="row" id="desktop-nav">
	<%= link_to root_path do %>
		<header id="logo">
		</header>
	<% end %>

	<header id="nav">
    <ul>
			<li class="has-subnav">About
				<ul>
					<li><%= link_to "Facilities", static_path('about/facilities') %></li>
					<li><%= link_to "Our Staff", static_path('about/our-staff') %></li>
					<li><%= link_to "Financials", static_path('about/financials') %></li>
				</ul>
			</li>
			<li class="has-subnav">Projects
				<ul>
					<li><%= link_to "Partners", static_path('projects/partners') %></li>
				</ul>
			</li>
			<li><%= link_to "Daily Services", static_path('daily-services') %></li>
			<li><%= link_to "Events", "/tagged?tag=events" %></li>
			<li><%= link_to "News", "/tagged?tag=news" %></li>
			<li class="has-subnav">Take Action
				<ul>
					<li><%= link_to "Donors", take_action_donors_path %></li>
					<li><%= link_to "Volunteers", take_action_volunteers_path %></li>
					<li><%= link_to "Guests", take_action_guests_path %></li>
				</ul>
			</li>
			<li class="has-subnav">Resources
				<ul>
					<li><%= link_to "Statistics", static_path('resources/statistics') %></li>
					<li><%= link_to "Downloads", static_path('resources/downloads') %></li>
				</ul>
			</li>
			<li><%= link_to "Contact", "#" %></li>
    </ul>
	</header>
</div>
<!-- /desktop nav -->
