<%= content_for :title do %>
  Volunteers
<% end %>
<%= content_for :synopsis do %>
  The IRC is a place where people, stories, and lives converge.
<% end %>

<h3>Volunteering at the IRC changes lives - both the lives of our guests and of our volunteers.</h3>

<p>We strongly believe that volunteering at the IRC changes lives… both the lives of our guests and of our volunteers. Volunteering at the IRC is a unique and special experience so it is no wonder that we are given over 1,700 volunteer hours by our community each month.</p>

<p>Volunteers at the IRC are both guests of the IRC (those also utilizing IRC services) and community volunteers. They work side by side to complete tasks, brainstorm projects, and build the relationships that are vital to a strong community.</p>

<p>Whether you are a student, part of a larger group, or an individual looking for a place to volunteer on an ongoing basis, the IRC has many volunteer opportunities! </p>

<p>At 10am, on the 3rd Friday of each month, people interested in volunteering are invited to tour the IRC and learn more about volunteer opportunities.</p>
<p>If you have questions about volunteering, please contact <%= mail_to "shana@gsodaycenter.org", 'Shana Carignan' %>.</p>

<h2>Bagged Lunch Project</h2>
<p>The IRC offers a variety of on-site job readiness classes in partnership with Guilford Technical Community College. Because the classes frequently take place during the lunch hour, our guests are unable to make it to the meals offered by our partner agencies.</p>

<p>To support their educational efforts, the IRC provides bagged lunches to guests participating in these classes. If your group is interested in providing lunches on a rotating basis, please contact <%= mail_to "shana@gsodaycenter.org", 'Shana Carignan' %>.</p>

<h2>Other ways to get involved:</h2>
<ul class="generic">
  <li>Garden Workdays</li>
  <li>Social Media Ambassadors</li>
  <li>IRC Mail Room</li>
  <li>Computer Lab Assistants</li>
  <li>Art Corner</li>
  <li>Barber Shop</li>
  <li>Bagged Lunch Project</li>
  <li>Corporate Days of Service</li>
  <li>Emergency Shelter Volunteer</li>
</ul>

<p>The IRC welcomes corporate days of service, faith groups, and some school groups for volunteer projects at the IRC. Please contact <%= mail_to "shana@gsodaycenter.org", 'Shana Carignan' %>, our Development Director, to learn more.</p>
