<!-- set page name and synopsis here -->
<%= content_for :title do %>
  <%= Time.now.year %> Dignity Event Fundraiser
<% end %>
<%= content_for :synopsis do %>
  Recognizing champions to the homeless community.
<% end %>

<!-- end frontmatter -->
<div class="row">

  <center>
    <%=image_tag "dignity_header.png" %>
  </center>

  <h3>On May 5, 2016, from 5-7 pm, the IRC will host the Annual Dignity Event fundraiser. Several individuals who have been champions to the homeless community and to the success of the IRC will be acknowledged at the Inaugural Dignity Awards Ceremony.</h3>

  <center>
    <%=image_tag "dignity_graphic.png" %>
  </center>

  <p></p>
  
  <p>Please join us for a delicious Italian dinner, live music and brief program to learn about the exciting new changes happening at the IRC and to help us celebrate our past year. Tickets are $25 in advance. Seating is limited and we will have tickets for sale until we sell out.</p>

  <p>We hope to see you on the 5th!</p>

  <center>
    <div class="button">
      <%=link_to "Get Tickets", "http://weblink.donorperfect.com/dignitytickets" %>
    </div>
  </center>
