<!-- set page name and synopsis here -->
<%= content_for :title do %>
  White Flag Shelter
<% end %>
<%= content_for :synopsis do %>
  Winter 2016 Emergency Planning &amp; White Flag Shelter Information
<% end %>

<!-- end frontmatter -->
<div class="row">

  <p>
    This winter, the city and agencies will continue to declare white flag emergency conditions when temperatures drop to a wind chill of 25 degrees or colder for two hours or more. White flag specifically means that additional emergency warming centers will be opened that follow relaxed rules so people can get in out of the cold overnight. A warming center is a large heated space with chairs rather than beds that allows people to sit indoors out of the cold. It does not typically provide shelter beds.
  </p>

  <center>
    <%=link_to "https://form.jotform.com/53625187106152", :target => "blank" do %>
      <div class="button">Volunteer at a Warming Center</div>
    <% end %>

    <%=link_to "https://interland3.donorperfect.net/weblink/weblink.aspx?name=E251431&id=2", :target => "blank" do %>
      <div class="button">Donate to Warming Centers</div>
    <% end %>
  </center>

  <br/>

  <center>
  <%= image_tag "http://greensborourbanministry.org/wp-content/uploads/2015/12/WhiteFlagGraphic-e1451504826705.png", :alt => "White Flag Infographic"%>
  </center>

  <br/>

  <p>
    This winter, the city and agencies will continue to declare white flag emergency conditions when temperatures drop to a wind chill of 25 degrees or colder for two hours or more. White flag specifically means that additional emergency warming centers will be opened that follow relaxed rules so people can get in out of the cold overnight. A warming center is a large heated space with chairs rather than beds that allows people to sit indoors out of the cold. It does not typically provide shelter beds.
  </p>
  <p>
    Lack of affordable housing pushes many in poverty out of their housing and into shelters. For those who may face additional challenges, such as a prior criminal record that includes sex offenses, finding shelter can be difficult.
  </p>
  <p>
    “It’s absolutely essential that people experiencing homelessness have a safe place to stay on dangerously cold nights,” said the executive directors of the three agencies in a joint statement. “The goal of this collaboration is real and urgent: To keep people from freezing to death.”
  </p>
  <p><a href="http://www.greensboro.com/blogs/around_town/susan-ladd-homeless-agencies-forge-plan-for-winter-weather-emergencies/article_355050bf-b9fb-5723-ac2d-3b9173bdc8fb.html">News &amp; Record columnist Susan Ladd wrote</a> about the agencies’ work this winter in the Sunday, December 13, 2015 edition of the paper.</p>

  <center>
    <%=link_to "https://form.jotform.com/53625187106152", :target => "blank" do %>
      <div class="button">Volunteer at a Warming Center</div>
    <% end %>

    <%=link_to "https://interland3.donorperfect.net/weblink/weblink.aspx?name=E251431&id=2", :target => "blank" do %>
      <div class="button">Donate to Warming Centers</div>
    <% end %>
  </center>

</div>
