<%= content_for :title do %>
  <% @post.title %>
<% end %>
<p id="notice"><%= notice %></p>


<h3 class="date">Posted about <%= distance_of_time_in_words(Time.now, @post.created_at) %> ago in
  <% @post.tags.each do |tag| %>
    <%= link_to tag.name, tagged_url(:tag => tag.name) %>
  <% end %>
</h3>

<p>
  <%= markdown(@post.article) %>
</p>

<div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = 'gsodaycenter';

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>

<% if signed_in? %>
  <%= link_to 'Edit', edit_post_path(@post) %>
<% end %>
