<!DOCTYPE html>
<html>
<head>
  <title><%= content_for :title %> | <%= ENV["site_name"] %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body id="blogging">

  <%= render '/shared/header' %>

  <!-- hero unit -->
  <section id="hero-unit" class="internal">
    <div class="content-compact">
      <h2 class="is-centered position"><%= yield :title %></h2>
      <% if content_for :synopsis %>
        <h1 class="brighten is-centered xl"><%= yield :synopsis %></h1>
      <% end %>
    </div>
  </section>

  <!-- content -->
  <article class="main">
    <div class="row-narrow">
      <%= yield %>
    </div>
  </article>

  <footer>
    <%= render '/shared/footer' %>
  </footer>

</body>
</html>
