<!DOCTYPE html>
<html>
<head>
  <title>Donors | <%= ENV["site_name"] %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body id="donors">

  <%= render '/shared/header' %>

  <!-- hero unit -->
  <section id="hero-unit" class="internal">
    <div class="content-compact">
      <h2 class="is-centered position">Donors</h2>
      <h1 class="brighten is-centered xl">Your donation provides dignity, respect, connection and empowerment to the most forgotten in our community.</h1>
    </div>
  </section>

  <!-- content -->
  <section class="ruled yellow">
    <div class="content">
      <h1 class="is-centered">Every day <span class="numerals-xl">200+</span> people walk through our doors. </br>Your support enables us to provide...</h1>
    </div>
  </section>

  <section class="ruled">
  <br>
    <h1 class="is-centered brighten">
      So how can I help <strong>today?</strong>
    </h1>

    <div class="row vertical-room">

      <div class="third has-padding">
        <div class="icon centered">
          <%= fa_icon "heart" %>
        </div>
        <h2 class="is-centered brighten"><%= link_to 'One-time donor', "https://irc.webconnex.com/sustainers" %></h2>
        <div class="caption">Make a one-time, tax deductible donation to the IRC.</div>
      </div>

      <div class="third has-padding">
        <div class="icon centered">
          <%= fa_icon "history" %>
        </div>
        <h2 class="is-centered brighten"><%= link_to 'Monthly sustainer', "https://irc.webconnex.com/sustainers" %></h2>
        <div class="caption">Sustain the IRC's mission month after month without lifting a finger.</div>
      </div>

      <div class="third has-padding">
        <div class="icon centered">
          <%= fa_icon "shield" %>
        </div>
        <h2 class="is-centered brighten"><%= link_to 'KCM Success Fund', "/resources/KCM-fund.html.md" %></h2>
        <div class="caption">Donate to help our guests and to honor the life and memory of Kenny Morton.</div>
      </div>

    </div>

    <div class="row vertical-room">
      <div class="third has-padding">
        <div class="icon centered">
          <%= fa_icon "ticket" %>
        </div>
        <h2 class="is-centered brighten"><%= link_to 'Honor Cards', "/resources/honor-cards.html.md" %></h2>
        <div class="caption">Make a donation in honor of a loved one or special cause.</div>
      </div>

      <div class="third has-padding">
        <div class="icon centered">
          <%= fa_icon "shopping-cart" %>
        </div>
        <h2 class="is-centered brighten"><%= link_to 'Amazon Wishlist', "http://www.amazon.com/gp/registry/wishlist/EG1AMFZT2ZOU/ref=cm_sw_em_r_wsl_Dks0ub0YTTYYM_wb" %></h2>
        <div class="caption">Our wishlist on Amazon will help direct your giving to where we need it most.</div>
      </div>

      <div class="third has-padding">
        <div class="icon centered">
          <%= fa_icon "cubes" %>
        </div>
        <h2 class="is-centered brighten"><%= link_to 'Donating Goods', "/resources/goods.html.md" %></h2>
        <div class="caption">Donate items for use in the IRC. For a list of needed items, click here.</div>
      </div>
    </div>

  </section>

    <section class="ruled">
    <div class="row">

      <div class="panel">
        <div class="caption">
          <h3>IRC Benefit #1</h3>
          <h1>Community</h1>
          <p>
            We believe that change comes from within and we strive ways to build community. At the IRC, we work to empower and educate our guests and the community at large. It's all of us or none of us.
          </p>
        </div>
      </div>

      <div class="panel">
        <div class="caption">
          <h3>IRC Benefit #2</h3>
          <h1>Intake and Case Management</h1>
          <p>
            The IRC provides Coordinated Intakes for individuals experiencing homelessness for all of the Continuum of Care in Greensboro. Through the partnership with the Congregational Social Work Education Initiative (CSWEI), case management is provided by interns to help people gain access to a variety of benefits and outcomes.
          </p>
        </div>
      </div>

      <div class="panel">
        <div class="caption">
          <h3>IRC Benefit #3</h3>
          <h1>Job Skills</h1>
          <p>
            We provide a variety of services to bring people back into the work force. Through partnerships we’re able to offer a computer lab and job skills classes. We also provide assistance with job applications, help with resume writing, and mock interviews. Through our community partnerships, mentor and apprenticeship opportunities are also available.
          </p>
        </div>
      </div>

      <div class="panel">
        <div class="caption">
          <h3>IRC Benefit #4</h3>
          <h1>Healthcare</h1>
          <p>
            Along with our mission of providing daily services, your donations allow us to provide access to a nurse practitioner and basic medical services, as well as mental health services and substance abuse counseling.
          </p>
        </div>
      </div>

    </div>
  </section>

  <section class="ruled" id="help">
    <div class="content">
      <h1 class="is-centered brighten">
        Just $10 per person pays for a day of services at the IRC.
      </h1>

      <div class="actions">
        <div class="button outline"><%= link_to 'Become a one-time donor', "https://irc.webconnex.com/sustainers" %></div>
        <div class="button outline"><%= link_to 'Become a sustainer', "https://irc.webconnex.com/sustainers" %></div>
      </div>

    </div>
  </section>


  <footer>
    <%= render '/shared/footer' %>
  </footer>

</body>
</html>
