<!DOCTYPE html>
<html>
<head>
  <title><%= content_for :title %> | <%= ENV["site_name"] %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <script type="text/javascript">
!function(a,b){a("Keen","https://d26b395fwzu5fz.cloudfront.net/3.2.4/keen.min.js",b)}(function(a,b,c){var d,e,f;c["_"+a]={},c[a]=function(b){c["_"+a].clients=c["_"+a].clients||{},c["_"+a].clients[b.projectId]=this,this._config=b},c[a].ready=function(b){c["_"+a].ready=c["_"+a].ready||[],c["_"+a].ready.push(b)},d=["addEvent","setGlobalProperties","trackExternalLink","on"];for(var g=0;g<d.length;g++){var h=d[g],i=function(a){return function(){return this["_"+a]=this["_"+a]||[],this["_"+a].push(arguments),this}};c[a].prototype[h]=i(h)}e=document.createElement("script"),e.async=!0,e.src=b,f=document.getElementsByTagName("script")[0],f.parentNode.insertBefore(e,f)},this);
</script>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "tracking" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= render '/shared/header' %>

  <!-- hero unit -->
  <section id="hero-unit" class="lander">

    <div class="content-compact">
      <h1 class="brighten is-centered xl">The Interactive Resource Center is a refuge for anyone experiencing or who may experience homelessness in Greensboro, NC.</h1>
    </div>

    <div class="actions">
      <div class="button outline">
        <%= link_to 'Learn More About Us', '/about/facilities' %>
      </div>
      <div class="button outline">
        <%= link_to 'Donate Now', '/take-action/donors' %>
      </div>
    </div>

    <div class="more">
      <h5>Read More</h5>
      <%= fa_icon "chevron-down", :class => "arrow" %>
    </div>

  </section>

  <!-- content -->
  <section id="core">

    <div class="content">
      <h4 class="is-centered xl">We're an innovative day resource center for people experiencing homelessness or trying to keep from becoming homeless in Guilford County, North Carolina.</h4>

    </div>

    <div class="row">
      <%= yield %>
    </div>
  </section>

  <!-- explore -->
  <section class="explore">
    <div class="row">
      <header class="full-width">
        <h2 class="brighten">Explore the IRC</h2>
      </header>
      <div class="third" id="volunteers">
        <h2><%= fa_icon "flag" %> <%= link_to 'Volunteers', '/take-action/volunteers' %> </h2>
      </div>
      <div class="third" id="donors">
        <h2><%= fa_icon "key" %> <%= link_to 'Donate', '/take-action/donors' %> </h2>
      </div>
      <div class="third" id="guests">
        <h2><%= fa_icon "home" %> <%= link_to 'Guests', '/take-action/guests' %> </h2>
      </div>
    </div>
  </section>

  <!-- donation roadblock -->
  <section class="roadblock">
    <h3>Join the List</h3>
    <p>Join our mailing list for occasional updates about our important work.</p>
    <form class="" action="index.html" method="post">
      <input type="email">
      <input type="submit" value="Stay Up To Date" class="center">
    </form>
  </section>

  <footer>
    <%= render '/shared/footer' %>
  </footer>

</body>
</html>
