<!DOCTYPE html>
<html>
<head>
  <title><%= content_for :title %> | Greensboro Day Center</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script type="text/javascript">
    !function(a,b){a("Keen","https://d26b395fwzu5fz.cloudfront.net/3.2.4/keen.min.js",b)}(function(a,b,c){var d,e,f;c["_"+a]={},c[a]=function(b){c["_"+a].clients=c["_"+a].clients||{},c["_"+a].clients[b.projectId]=this,this._config=b},c[a].ready=function(b){c["_"+a].ready=c["_"+a].ready||[],c["_"+a].ready.push(b)},d=["addEvent","setGlobalProperties","trackExternalLink","on"];for(var g=0;g<d.length;g++){var h=d[g],i=function(a){return function(){return this["_"+a]=this["_"+a]||[],this["_"+a].push(arguments),this}};c[a].prototype[h]=i(h)}e=document.createElement("script"),e.async=!0,e.src=b,f=document.getElementsByTagName("script")[0],f.parentNode.insertBefore(e,f)},this);
  </script>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "tracking" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= render '/shared/emergency' %>
  <%= render '/shared/header' %>

  <!-- hero unit -->
  <section id="hero-unit" class="lander">

    <div class="content-compact">
      <h1 class="brighten is-centered xl">The Interactive Resource Center is a refuge for anyone experiencing or who may experience homelessness in Greensboro, NC.</h1>
    </div>

    <div class="actions">
      <div class="button outline">
        <%= link_to 'Learn More About Us', '/about/facilities' %>
      </div>
      <div class="button outline">
        <%= link_to 'Donate Now', '/take-action/donors' %>
      </div>
    </div>

    <div class="more">
      <h5>Read More</h5>
      <%= fa_icon "chevron-down", :class => "arrow" %>
    </div>

  </section>

  <!-- content -->
  <section id="core">

    <div class="content">
      <h4 class="is-centered xl">We're an innovative day resource center for people experiencing homelessness or trying to keep from becoming homeless in Guilford County, North Carolina.</h4>

    </div>

    <div class="row">
      <%= yield %>
    </div>
  </section>

  <!-- explore -->
  <section class="explore">
    <div class="row">
      <header class="full-width">
        <h2 class="brighten">Explore the IRC</h2>
      </header>
      <div class="third" id="volunteers">
        <h2><%= fa_icon "flag" %> <%= link_to 'Volunteers', '/take-action/volunteers' %> </h2>
      </div>
      <div class="third" id="donors">
        <h2><%= fa_icon "key" %> <%= link_to 'Donate', '/take-action/donors' %> </h2>
      </div>
      <div class="third" id="guests">
        <h2><%= fa_icon "home" %> <%= link_to 'Guests', '/take-action/guests' %> </h2>
      </div>
    </div>
  </section>

  <!-- newsletter roadblock -->
  <section class="roadblock">
    <h3>Join the List</h3>
    <p>Join our mailing list for occasional updates about our important work.</p>
    <!--Begin CTCT Sign-Up Form-->
    <!-- EFD 1.0.0 [Mon Oct 26 12:29:27 EDT 2015] -->
    <div class="ctct-embed-signup" style="font: 16px Helvetica Neue, Arial, sans-serif; font: 1rem Helvetica Neue, Arial, sans-serif; line-height: 1.5; -webkit-font-smoothing: antialiased;">
           <span id="success_message" style="display:none;">
               <div style="text-align:center;">Thanks for signing up!</div>
           </span>
           <form data-id="embedded_signup:form" class="ctct-custom-form Form" name="embedded_signup" method="POST" action="https://visitor2.constantcontact.com/api/signup">
               <input data-id="ca:input" type="hidden" name="ca" value="dc09b900-cb27-4daa-96f8-6295c9746651">
               <input data-id="list:input" type="hidden" name="list" value="1">
               <input data-id="source:input" type="hidden" name="source" value="EFD">
               <input data-id="required:input" type="hidden" name="required" value="list,email">
               <input data-id="url:input" type="hidden" name="url" value="">
               <p data-id="Email Address:p"><input data-id="Email Address:input" type="text" name="email" value="" maxlength="80" placeholder="Email (required)"></p>
               <p data-id="First Name:p"><input data-id="First Name:input" type="text" name="first_name" value="" maxlength="50" placeholder="First Name"></p>
               <p data-id="Last Name:p" ><input data-id="Last Name:input" type="text" name="last_name" value="" maxlength="50" placeholder="Last Name"></p>
               <button type="submit" class="Button ctct-button Button--block Button-secondary" data-enabled="enabled">Sign Up</button>
           </form>
    </div>
    <script type='text/javascript'>
       var localizedErrMap = {};
       localizedErrMap['required'] = 		'This field is required.';
       localizedErrMap['ca'] = 			'An unexpected error occurred while attempting to send email.';
       localizedErrMap['email'] = 			'Please enter your email address in name@email.com format.';
       localizedErrMap['birthday'] = 		'Please enter birthday in MM/DD format.';
       localizedErrMap['anniversary'] = 	'Please enter anniversary in MM/DD/YYYY format.';
       localizedErrMap['custom_date'] = 	'Please enter this date in MM/DD/YYYY format.';
       localizedErrMap['list'] = 			'Please select at least one email list.';
       localizedErrMap['generic'] = 		'This field is invalid.';
       localizedErrMap['shared'] = 		'Sorry, we could not complete your sign-up. Please contact us to resolve this.';
       localizedErrMap['state_mismatch'] = 'Mismatched State/Province and Country.';
    	localizedErrMap['state_province'] = 'Select a state/province';
       localizedErrMap['selectcountry'] = 	'Select a country';
       var postURL = 'https://visitor2.constantcontact.com/api/signup';
    </script>
    <script type='text/javascript' src='https://static.ctctcdn.com/h/contacts-embedded-signup-assets/1.0.2/js/signup-form.js'></script>
<!--End CTCT Sign-Up Form-->
  </section>

  <footer>
    <%= render '/shared/footer' %>
  </footer>

  <!-- Google Analytics -->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-31602595-16', 'auto');
    ga('send', 'pageview');

  </script>
  <!-- End GA -->

</body>
</html>
